---
import "../styles/global.css";
import Navigation from "./Navigation.astro";
---

<div id="container">
  <main>
    <h1>記事</h1>
    <Navigation />
    <div>
      <a href="/post/post-1">記事1</a>
      <a href="/post/post-2">記事2</a>
      <a href="/post/post-3">記事3</a>
    </div>
  </main>
</div>
