---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <p>{frontmatter.title}</p>
  <p>{frontmatter.pubDate}</p>
  <slot />
</Layout>
